.container-filters-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .btn-filter{
    border: 1px solid #E54300 !important;
    border-radius: 71px !important;
    opacity: 1 !important;
  }
}
