<div #divElement id="about-carousel-container">
  <div titan-carousel
       [items]="servImage"
       [width]="divElement.clientWidth"
       [$item]="itemTemplate"
       [$prev]="prevTemplate"
       [$next]="nextTemplate">
  </div>
  <ng-template #prevTemplate>
   <nb-icon icon="arrow-ios-back-outline"></nb-icon>
  </ng-template>

  <ng-template #nextTemplate>
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </ng-template>

  <ng-template let-thumbnail #itemTemplate>
        <img style="
        width: 433px;
        height: 325px;
        display:block;
        margin:auto;
        object-fit: cover;"  [alt]="thumbnail" [src]="thumbnail">
  </ng-template>
</div>
