@import "../../../../../themes";
.container-checkout {
  display: flex;
  gap: 5%;
  &__card-details {
    flex: 15%;
    &__final-value {
      display: flex;
      justify-content: space-around;
      padding: 15px;
      color: $color-ffffff;
      text-align: center;
      background: $color-e54300 0% 0% no-repeat padding-box;
      border: 1px solid #D5D5D5;
      border-radius: 20px;
      opacity: 1;
    }
  }
  &__form {
    display: flex;
    gap: 20px;
    flex-direction: column;

    input {
      max-width: 100%;
    }

    &__id {
      display: flex;
      gap: 10px;
    }
    &__names {
      display: flex;
      gap: 10px;
    }
    &__address {
      display: flex;
      gap: 10px;
    }
    &__contact {
      display: flex;
      gap: 10px;

    }
  }

}
