<ngx-skeleton-loader
  animation="pulse"
  count="1"
  [theme]="{
    height: '50vh',
    'background-color': '#cccece'
  }">
</ngx-skeleton-loader>
  <ngx-skeleton-loader
    animation="pulse"
    count="1"
    [theme]="{
    height: '5vh',
    'background-color': '#cccece'
  }">
  </ngx-skeleton-loader>
<ngx-skeleton-loader
  style="display: flex;
         flex-direction: row;
         gap: 0.5vw;
    justify-content: center;"
  animation="pulse"
  count="2"
  [theme]="{
    'height': '5vh',
    'background-color': '#cccece' }">
</ngx-skeleton-loader>

