@import "../../../themes";

.bg-logo {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 0;

}


.home-container-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin-top: 100px;
  margin-left: 250px;

  .subtitle {
    text-align: left;
    font: normal normal 600 22px/75px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  h1 {
    width: 758px;
    margin-top:0;
    text-align: left;
    font: normal normal bold 60px/65px Source Serif Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
}

.home-container-search-bar {
  top: -20px;
  opacity: 1;
  width: 930px;
  margin-left: 321px;
  position:absolute;
  text-align: center;
  border-radius: 71px;
  box-shadow: 2px 7px 10px #00000029;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.home-container-benefits {
  position:absolute;
  text-align: center;
  top: 1006px;
  width: 97%;
}

.tamra-kr {
  position: fixed;
  opacity: 1;
}
