@import "../../../../../themes";


.header-border-subtotal {
  flex: 35%;
  border-right: 1px solid $color-696969;
}


.body-padding-subtotal {
  flex: 35%;


}

.margin-0-20 {
  margin: 0 0  0 20px;
}
