titan-header {
  width: 100%;
}
:root {

/* Colors: */
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-e54300: #E54300;
--unnamed-color-696969: #696969;
--unnamed-color-4d4d4d: #4D4D4D;
--unnamed-color-000000: #000000;

/* Font/text values */
--unnamed-font-family-poppins: Poppins;
--unnamed-font-family-source-serif-pro: Source Serif Pro;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-300: 300px;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-12: 12px;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-17: 17px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-22: 22px;
--unnamed-font-size-60: 60px;
--unnamed-character-spacing-0: 0px;
--unnamed-character-spacing-2-86: 2.86px;
--unnamed-line-spacing-18: 18px;
--unnamed-line-spacing-20: 20px;
--unnamed-line-spacing-21: 21px;
--unnamed-line-spacing-23: 23px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-25: 25px;
--unnamed-line-spacing-65: 65px;
--unnamed-line-spacing-75: 75px;
--unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.informacion {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-18);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.menu {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.learn-more {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-21);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.texto-titulos-pie-de-pagina {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.titulo-browse-by-category {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-17);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.titulos-texto-interno {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.textos-vinculos-pie-de-pagina {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-18);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.datos-inferiores {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-18);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-4d4d4d);
}
.barra-de-busqueda {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-75);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-4d4d4d);
}
.subtitulo {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-22);
line-height: var(--unnamed-line-spacing-75);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.titulos-seccion {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-22);
line-height: var(--unnamed-line-spacing-75);
letter-spacing: var(--unnamed-character-spacing-2-86);
color: var(--unnamed-color-696969);
text-transform: var(--unnamed-text-transform-uppercase);
}
.texto {
font-family: var(--unnamed-font-family-poppins);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-17);
line-height: var(--unnamed-line-spacing-20);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.titulos-sobre-fondo-color {
font-family: var(--unnamed-font-family-source-serif-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-60);
line-height: var(--unnamed-line-spacing-65);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.titulos {
font-family: var(--unnamed-font-family-source-serif-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-60);
line-height: var(--unnamed-line-spacing-65);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e54300);
}
