

titan-header {
  width: 100%;
}

nb-layout .layout {
  background:nb-theme(white);
}

nb-layout-footer{
  height: 320px !important;
  background: #E6E6E6 0% 0% no-repeat padding-box;
  opacity: 1;
}
