
.header-container {
  display: flex;
  justify-content: space-between;
  img{
    display: block;
    margin: 0 auto;
  }
  &__links-profile {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
  }

  &__links-profile-menu {
    width: 70%;
  }

}


