
.header-container {
  display: flex;
  justify-content: space-between;
  img{
    display:block;
    margin:auto;
  }
  &__links-profile {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
  }

  &__links-profile-menu {
    width: 70%;
  }

}


