<ng-container [formGroup]="rangeForm">
  Where
  <input
    class="input-left"
    formControlName="where"
    nbInput
    type="text"
    placeholder="Where"
    [nbAutocomplete]="autoControl" />
  <nb-autocomplete #autoControl>
    <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option">
      {{ option }}
    </nb-option>
  </nb-autocomplete>
  From Hour
  <nb-select formControlName="formHour" placeholder="From">
    <nb-option *ngFor="let hour of fromHours" [value]="hour">
      {{hour}}
    </nb-option>
  </nb-select>
  From to Until
  <input  formControlName="range" nbInput placeholder="Pick Date Range" [nbDatepicker]="formpicker">
  <nb-rangepicker format="DD-MM-YYYY" #formpicker></nb-rangepicker>
  Until Hour
  <nb-select class="input-right" formControlName="untilHour" placeholder="Until">
    <nb-option *ngFor="let hour of untilHour" [value]="hour">
      {{hour}}
    </nb-option>
  </nb-select>
</ng-container>
