<div class="container-search-bar"  [formGroup]="rangeForm">
  <nb-select class="input-left" [formControl]="rangeForm.controls.where" placeholder="Where">
    <nb-option *ngFor="let where of filteredControlOptions$ | async" [value]="where.islocation">
      {{where.islocation}}
    </nb-option>
  </nb-select>
  <nb-select [formControl]="rangeForm.controls.formHour" placeholder="From">
    <nb-option *ngFor="let hour of fromHours" [value]="hour">
      {{hour}}
    </nb-option>
  </nb-select>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input  [min]="tomorrow" [rangePicker]="picker">
      <input [formControl]="rangeForm.controls.rangeStart"  matStartDate placeholder="Start date">
      <input [formControl]="rangeForm.controls.rangeEnd"  matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <nb-select class="input-right" [formControl]="rangeForm.controls.untilHour" placeholder="Until">
    <nb-option *ngFor="let hour of untilHour" [value]="hour">
      {{hour}}
    </nb-option>
  </nb-select>
</div>
