<div class="benefits-container">
  <span class="atention">*Our pick-up and return hours are from 08:00 - 20:00.</span>
  <img alt="tamra" src="assets/svg/tamrakr.svg">
  <h1 class="benefits-text">Benefits for us users.</h1>
</div>
<div class="card-container">
  <nb-card>
    <nb-card-body>
      <img src="assets/icons/icon_support.svg">
      <p class="titulos-benefits" style="margin-top: 40px !important;">International Customer Support.</p>
      <p class="info-benefits">Get personalized customer care and a car rental experience that caters to you!</p>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <img src="assets/icons/icon_clean_desinfected_cars.svg">
      <p class="titulos-benefits">Clean and Desinfected Cars.</p>
      <p class="info-benefits">In lieu of Covid-19, Tamra has enhanced our cleaning policy to have our cars disinfected before every trip.</p>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <img src="assets/icons/icon_advantages.svg">
      <p class="titulos-benefits" style="margin-top: 50px !important;">Advantages of renting from Tamra.</p>
      <p class="info-benefits">Know the advantages of renting with Tamra.</p>
    </nb-card-body>
  </nb-card>
</div>
<div class="card-container">
  <nb-card>
    <nb-card-body>
      <img src="assets/icons/icon_cupon_codes.svg">
      <p class="titulos-benefits">Cupon codes.</p>
      <p class="info-benefits">Find out which cars are on sale at Tamra!</p>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <img src="assets/icons/icon_FAQ.svg">
      <p class="titulos-benefits">Tamra’s FAQs and Support Community.</p>
      <p class="info-benefits">Here you can find everything related to renting a car with us, procedures, and much more!</p>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <img src="assets/icons/icon_local_favorites.svg">
      <p class="titulos-benefits">Tamra’s Local Favorites.</p>
      <p class="info-benefits">Recommendations by foreigners and locals living on Jeju Island.</p>
    </nb-card-body>
  </nb-card>
</div>
