@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};




.background-transparent {
  background-color: transparent !important;
}




.dialog-styles {
  width: 100vw;
  nb-dialog-container {
    position: absolute;
    top: 0;
    width: 100vw;
  }

}
