<form [formGroup]="rangeForm" class="container-range">
  <input
    class="input-left"
    formControlName="where"
    nbInput
    type="text"
    placeholder="Where"
    [nbAutocomplete]="autoControl" />
  <nb-autocomplete #autoControl>
    <nb-option *ngFor="let option of filteredControlOptions$ | async" [value]="option">
      {{ option }}
    </nb-option>
  </nb-autocomplete>
  <nb-select formControlName="formHour" placeholder="Select Showcase">
    <nb-option value="">From</nb-option>
    <nb-option value="0">Option 0</nb-option>
    <nb-option value="1">Option 1</nb-option>
    <nb-option value="2">Option 2</nb-option>
    <nb-option value="3">Option 3</nb-option>
    <nb-option value="4">Option 4</nb-option>
  </nb-select>
  <input  formControlName="range" nbInput placeholder="Pick Date Range" [nbDatepicker]="formpicker">
  <nb-rangepicker format="MMMM Do YYYY" #formpicker></nb-rangepicker>
  <nb-select class="input-right" formControlName="untilHour" placeholder="Select Showcase">
    <nb-option value="">Until</nb-option>
    <nb-option value="0">Option 0</nb-option>
    <nb-option value="1">Option 1</nb-option>
    <nb-option value="2">Option 2</nb-option>
    <nb-option value="3">Option 3</nb-option>
    <nb-option value="4">Option 4</nb-option>
  </nb-select>
</form>


